@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400px;
    src:
    local("Times New Roman")
    url('TimesNewRoman-Regular.woff2') format('woff2'),
    url('TimesNewRoman-Regular.woff') format('woff');
}
@font-face{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    src:
    local("Arial")
    url('Arial-Regular.woff2') format('woff2'),
    url('Arial-Regular.woff') format('woff');
}
body{
    background-color: rgb(140, 103, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
ul {
   
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(209, 165, 250);
    border-radius: 50px;
    width: 250px;
    justify-content: center;
}

p{
    font-family: "Arial", sans-serif;
    align-items: center;
    color: rgb(63, 62, 61);
}
button{
    color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: "Times New Roman", sans-serif;
    width:100% ;
    

}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}